
header{
    text-align: center;
    
}
header>h1{
    background-color: #003B6D;
    padding: 20px;
    color: #EBEDF3;
    margin: 0;
    
    margin-top: 0px;
    border-color:#BDBDBD;
  
    border-bottom: 3px solid white; 
   



}

header>p{
   /* background-color: #6699CC; */
   background: linear-gradient(to right, #003366, #1E5799, #2989D8, #1E5799, #003366);
    
    border-bottom: 3px solid white;
    font-weight: bold;
    color: black;
    padding: 8px;
    position: relative;
    bottom: 16px;
}
body{
    
    
   
    margin:0;
    background-color: #BDBDBD;
    text-align: center;
}

.bara_nav {
    /* work in progress */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(23, 32, 56);
    position: relative;
    height: 50px;
    bottom: 33px;
    padding: 10px;
    border-bottom: 3px solid white;
}
.bara_nav a {
    flex: 1;
    background-color: rgb(23, 32, 56);
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    transition: 0.3s;
    height: 30px;
    
    
    
}
/* de revenit */
@media (max-width: 800px){
    .bara_nav{
        display:flex;
        flex-direction: column;
    }
}
/* de revenit */
@media print
{
    .bara_nav{
        display:flex;
        flex-direction: column;
    }
}

.bara_nav a:hover {
    background-color:rgb(92, 112, 168);
    color:black;
    padding: 10px;
    
}

.table_cuv_cheie, th, tr{
    border: 2px black;
    /* border-collapse: collapse; */
    border-style: solid;
    border-color: black;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

.table_cuv_cheie tr:first-child {
    background-color: rgb(23, 32, 56);
    color: white;
}

.table_cuv_cheie th:first-child {
    background-color: #003B6D;
    color: white;
}
.table_cuv_cheie tr:first-child>th:first-child{
    background-color: rgb(23, 32, 56);
    color: white;
}
.table_cuv_cheie tr:not(:first-child)
{
    background-color: rgb(231, 226, 226);
}

.form_inregistreaza{
    display:inline-block;
    width: 80%;
    resize:none;
}
label {
    display: block;
    padding: 3px;
}
input {
    outline: 1px solid black;
}
input:user-valid{
    outline-width: 2px;
    outline-color: green;
    box-shadow: 0 0 10px green;
}
input:user-invalid{
    outline-width: 2px;
    outline-color: red;
    box-shadow: 0 0 10px red;
}
input:focus:invalid{
    outline-width: 2px;
    outline-color: rgb(255, 152, 34);
}
input:focus {
    outline-width: 2px;
    outline-color:#6699CC;
}
input[type="checkbox"] {
    accent-color: green;
}
textarea{
  
    resize:none;
}

textarea:focus { 
    outline: none !important;
    border-color: #6699CC;
    box-shadow: 0 0 10px #6699CC;
}

.videouri_utile{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-sizing:border-box;
    justify-content:baseline;
    
}
.item2>iframe{
    width:700px;
    height: 400px;
}

.haltera{
    
    animation: scaleDownUp 1.7s infinite;
    transform-origin: center;
}
@keyframes scaleDownUp {
    0% {
      transform: translateY(0) scale(1); 
      
    }
    50% {
      transform: translateY(-10px) scale(1.1); 
      
    }
    100% {
      transform: translate(0) scale(1); 
      
    }
}
footer{
    margin: 0;
    background-color: #003B6D;
    color: #EBEDF3;
    left: 0;
    bottom: 0;
    height: 30px;
    
    outline: 2px solid black;
    padding: 6px;


}
/*
.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}
*/