
*:not(.buton_desen) {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
.site{
    display: flex;
    flex-direction:column;
    
    flex: 1;
}
body{
    
    
    margin:0;
    /*background-color: #BDBDBD;*/
    background-color: #d2d5d6;
    text-align: center;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button {
    background-color: #003B6D; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 1px solid #EBEDF3;
    
  }

button:hover {
    background-color: #6699CC; 
}
.div_button_desen{
    align-items: center;
  
}
.buton_desen {
    width: 126px;
    position: relative;
    bottom: 110px;
    
}

header>h1{
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003B6D;
    padding: 10px;
    color: #EBEDF3;
    margin: 0;
    
    margin-top: 0px;
    border-color:#BDBDBD;
  
    border-bottom: 3px solid white; 
   



}


header > p {
    background: linear-gradient(to right, #003366, #1E5799, #2989D8, #1E5799, #003366);
    border-bottom: 3px solid white;
    font-weight: bold;
    color: black;
    padding: 8px;
    margin: 0; 
    position: static; 
}

.bara_nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(23, 32, 56);
    height: 50px;
    padding: 8px;
    border-bottom: 3px solid white;
    margin: 0; 
    position: static; 
    bottom: 0; 

}
.bara_nav a {
    flex: 1;
    background-color: rgb(23, 32, 56);
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    transition: 0.3s; 
    height: 30px;
    
    
    
}
.bara_nav a:hover {
    background-color:rgb(92, 112, 168);
    color:black;
    padding: 18px;
    height: 47px;
    position: relative;
    bottom: 8px;
    width: 100%;
    
}

.pagina_invat{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
   /* position: relative;
    bottom: 25px;
    */
    
    
}
.sidebar_invat{
    
    flex:10%;
    padding: 0 20px;
    background-color:  #031952;
    margin: 0;
    border-right: 3px solid black;
    
    

    
    
}

.continut_invat{
    flex:90%;
    


}
.video_class {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align:  center;
    justify-content: space-evenly;
}

aside {
    position: fixed;
    /* top: 240px; */
    
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
aside a{
    flex: 1;
    color: whitesmoke;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display:block;
    width: 100%;
    transition: 0.3s; 
    

}
aside a:hover{
    background-color: #6699CC;
    width:100%;
    display: block;
}
footer{
    margin: 0;
    background-color: #003B6D;
    color: #EBEDF3;
    left: 0;
    bottom: 0;
    height: 30px;
    
    outline: 2px solid black;
    padding: 6px;


}
#prefata a {
    color: blue;
    text-decoration: none;
}
.desen {
    align-items: center;
}
.video_class iframe {
    border: 3px solid darkblue;
}
/* de revenit */
@media (max-width: 800px){
    .bara_nav{
        display:flex;
        flex-direction: column;
    }
}
/* de revenit */
@media print
{
    .bara_nav{
        display:flex;
        flex-direction: column;
    }
}


.table_cuv_cheie, th, tr{
    border: 2px black;
    /* border-collapse: collapse; */
    border-style: solid;
    border-color: black;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

.table_cuv_cheie tr:first-child {
    background-color: rgb(23, 32, 56);
    color: white;
}

.table_cuv_cheie th:first-child {
    background-color: #003B6D;
    color: white;
}
.table_cuv_cheie tr:first-child>th:first-child{
    background-color: rgb(23, 32, 56);
    color: white;
}
.table_cuv_cheie tr:not(:first-child)
{
    background-color: rgb(231, 226, 226);
}

.tabel-persoane{
    width: 80%;
    
    border: 2px black;
    /* border-collapse: collapse; */
    border-style: solid;
    border-color: black;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    

}

.tabel-persoane td, .tabel-persoane th {
    padding: 15px; 
}

.tabel-persoane tr:first-child {
    background-color: rgb(23, 32, 56);
    color: white;
}

.tabel-persoane th:first-child {
    background-color: #003B6D;
    color: white;
}
.tabel-persoane tr:first-child>th:first-child{
    background-color: rgb(23, 32, 56);
    color: white;
}
.tabel-persoane tr:not(:first-child)
{
    background-color: rgb(231, 226, 226);
}


.form_inregistreaza{
    display:inline-block;
    width: 80%;
    resize:none;
}
label {
    display: block;
    padding: 3px;
}
input {
    outline: 1px solid black;
}
input:user-valid{
    outline-width: 2px;
    outline-color: green;
    box-shadow: 0 0 10px green;
}
input:user-invalid{
    outline-width: 2px;
    outline-color: red;
    box-shadow: 0 0 10px red;
}
input:focus:invalid{
    outline-width: 2px;
    outline-color: rgb(255, 152, 34);
}
input:focus {
    outline-width: 2px;
    outline-color:#6699CC;
}
input[type="checkbox"] {
    accent-color: green;
}
textarea{
  
    resize:none;
}

textarea:focus { 
    outline: none !important;
    border-color: #6699CC;
    box-shadow: 0 0 10px #6699CC;
}

.videouri_utile{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-sizing:border-box;
    justify-content:baseline;
    
}
.item2>iframe{
    width:700px;
    height: 400px;
}

.haltera{
    
    animation: scaleDownUp 2s infinite;
    transform-origin: center;
}
@keyframes scaleDownUp {
    0% {
      transform: translateY(0) scale(0.9); 
      
    }
    50% {
      transform: translateY(-10px) scale(1.1); 
      
    }
    100% {
      transform: translate(0) scale(0.9); 
      
    }
}

@media screen and (max-width: 500px) {
    .sidebar_invat, .bara_nav{
        flex-direction: column;
    }
}    
#logo_stg{
    float: left;
    width: 100px;
    height: 100px;
    /*
    position: relative;
    left: 295px;
    bottom: 29px;
    */

}
#logo_dr{
    float: right;
    width: 100px;
    height: 100px;
    /*
    position: relative;
    right: 295px;
    bottom:29px;
    */ 
}


canvas {
    border: 1px solid #000;
    background-color: white;
    margin-bottom: 15px;
}
.slider {
    accent-color: blue;
}

/* animatie buton */
#popup-container_ronnie {
    position: fixed;
    bottom: -600px; /* Start off-screen below the viewport */
    left: 80%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-out;
    z-index: 100;
  }

#popup-container_tom {
    position: fixed;
    bottom: -600px; /* Start off-screen below the viewport */
    left: 20%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-out;
    z-index: 100;
}

#popup-container_goggins {
    position: fixed;
    bottom: -600px; /* Start off-screen below the viewport */
    left: 52%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-out;
    z-index: 100;
}
#goggins{
    width: 400px;
    height: 400px;
    
}
#ronnie {
    max-width: 300px; /* Adjust size as needed */
  
 
}
#tom {
    max-width: 300px;
    max-height: 400px;
    
}
.show-popup {
    bottom: -10px !important; /* Position when visible */
  }

.dynamicTable {
    width: 400px;
    height: 300px;
}
.dynamicTable, th, tr{
    border: 2px black;
    /* border-collapse: collapse; */
    border-style: solid;
    border-color: black;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

.dynamicTable tr:first-child {
    background-color: rgb(23, 32, 56);
    color: white;
}

.dynamicTable th:first-child {
    background-color: #003B6D;
    color: white;
}
.dynamicTable tr:first-child>th:first-child{
    background-color: rgb(23, 32, 56);
    color: white;
}
.dynamicTable tr:not(:first-child)
{
    background-color: rgb(231, 226, 226);
}
.invat_headers{
    background-color: #054285;  /* Albastru principal */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-left: 5px solid #0056b3;  
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#primul_h1
{
    position: relative;
    bottom: 16px;
}

.content {
    
    position:absolute;
    bottom: 320px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    
    
 
    
   
  
  }

.linie_cumparaturi_1{
   
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.pagina_cumparaturi{
    align-items: center;
}
#h1_cumparaturi
{
    background-color: #054285;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 22px;
    
}
#h2_cumparaturi
{
    background-color:  #031952;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 65px;
}
#myVideo
{
    position: relative;
    width: 100%;
    height: calc(100vh - [navbar-height]px); /* Subtract navbar height */
    overflow: hidden;
}
/*
.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}
*/
/*
.bara_nav {
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(23, 32, 56);
    position: relative;
    height: 50px;
    bottom: 33px; 
    padding: 8px;
    border-bottom: 3px solid white;

    margin-bottom: 0;
}
*/
/*
header>p{
   
   background: linear-gradient(to right, #003366, #1E5799, #2989D8, #1E5799, #003366);
    
    border-bottom: 3px solid white;
    font-weight: bold;
    color: black;
    padding: 8px;
    position: relative;
    bottom: 16px; 
}
    /*

*/
    
